.bnr{
   
    background-size: cover;
    height: 900px;
    color:rgb(201, 17, 79);
    
    /* display: flex !important; */
    /* position: fixed !important; */
    
   

}
.content{
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;
}
.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.bnrbtn{
    
    color:  rgb(201, 17, 79);;

    outline: none;
    border: none;
    font-weight: 1000;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-top: 0.5rem;
    background-color: rgba(80, 66, 120, 0.5);
    cursor: pointer;
    margin-right: 1rem;

}
.button{
    color: #5a139d;
    background-color:  rgb(201, 17, 79);
    margin-left: 3px;

}
.description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    height: 80px;
    max-width: 360px;
    
}
.fade{
    height: 0.7rem;
    background-image: linear-gradient(180deg,transparent,rgba(19, 9, 9, 0.61),rgb(20, 17, 17));
}